.card {
  max-width: 360px;
  display: flex;
  flex-direction: column;
}

.card__content {
  position: relative;
  max-height: 200px;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
  flex: 1 1 0%;
  display: flex;
  background: #2f2f2f;
}

.card__content:hover .card__save {
  opacity: 1;
}

.card__content:hover .card__saved {
  opacity: 1;
}

.card__content:hover .card__delete {
  opacity: 1;
}

.card__save {
  opacity: 0;
  transition: all 0.4s ease;
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 20;

  border: none;
  padding: 0;
  cursor: pointer;

  width: 72px;
  height: 21px;
  flex-shrink: 0;

  border-radius: 30px;
  background: #313131;

  color: var(--main-text);
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 9px;
}

.card__saved {
  opacity: 0;
  transition: all 0.4s ease;
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 20;

  width: 24px;
  height: 24px;
  flex-shrink: 0;

  background-image: url('../../images/save-btn.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.card__delete {
  opacity: 0;
  transition: all 0.4s ease;
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 20;

  width: 24px;
  height: 24px;
  flex-shrink: 0;

  background-image: url('../../images/delete-btn.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.card__img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: top;
  margin: auto;
}

.card__info {
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__name {
  color: var(--main-text);
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
}

.card__duration {
  padding: 3px 4px;
  border-radius: 3px;
  background: #2f2f2f;
  color: #8b8b8b;
  font-size: 11px;
  font-weight: 400;
  line-height: 10px;
  flex-shrink: 0;
}
