.authorization {
  padding-top: 70px;
  padding-bottom: 70px;
}
.authorization__container {
  max-width: 396px;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.authorization__title {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 40px;

  color: var(--main-text);
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.authorization__form {
  width: 100%;
}

.authorization__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 6px;
}

.authorization__fieldset:last-of-type {
  margin-bottom: 44px;
}

.authorization__label {
  padding-bottom: 8px;
  display: block;
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.authorization__input {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding: 15px;
  display: block;
  width: 100%;
  appearance: none;
  border: none;

  border-radius: 8px;
  background: var(--input-bg);

  color: var(--input-text);
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.authorization__input::placeholder {
  color: var(--input-placeholder);
}

.authorization__input:focus {
  outline: none;
  background: var(--input-focus-bg);
}

.authorization__input_invalid {
  color: var(--accent-red);
}

.authorization__error {
  min-height: 12px;
  margin-top: 4px;
  display: block;
  color: var(--accent-red);
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.authorization__submit {
  margin-top: 20px;
  width: 100%;
  height: 45px;
  padding: 0;
  cursor: pointer;
  border-radius: 3px;
  background: var(--accent-blue);
  border: none;

  color: var(--main-text);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.authorization__submit_disabled {
  background: #f8f8f8;
  color: #c2c2c2;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  cursor: default;
}

.authorization__bottom {
  margin-top: 14px;
  padding: 2px 0;
  color: #8b8b8b;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.authorization__question {
  margin-right: 6px;
}

.authorization__link {
  text-decoration: none;
  color: var(--accent-blue);
}

@media screen and (max-width: 800px) {
  .authorization {
    padding-top: 230px;
    padding-bottom: 230px;
  }
}

@media screen and (max-width: 415px) {
  .authorization {
    padding-top: 57px;
    padding-bottom: 30px;
  }
  .authorization__container {
    padding: 0 30px;
    align-items: center;
  }
  .authorization__title {
    margin-top: 47px;
    margin-bottom: 83px;
  }
  .authorization__fieldset:last-of-type {
    margin-bottom: 130px;
  }
  .authorization__submit {
    font-size: 12px;
  }
  .authorization__bottom {
    font-size: 12px;
  }
}
