.about-project {
  padding-top: 110px;
  padding-bottom: 110px;
}

.about-project__info {
  padding-top: 70px;
  padding-bottom: 110px;
  display: flex;
  justify-content: space-between;
}

.about-project__article {
  max-width: 550px;
}

.about-project__subtitle {
  margin: 0;
  margin-bottom: 26px;
  color: var(--main-text);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.about-project__desc {
  margin: 0;
  color: var(--main-text);
  line-height: 20px;
}

.about-project__periods {
  display: flex;
}

.about-project__stage {
  text-align: center;
}

.about-project__stage_back {
  width: 228px;
  flex-shrink: 0;
}
.about-project__stage_front {
  width: 100%;
}

.about-project__time {
  padding: 9px 0;
  display: block;
}

.about-project__time_color_green {
  background-color: var(--accent-green);
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.about-project__time_color_grey {
  background-color: #303030;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.about-project__tech {
  padding: 14px 0;
  display: block;

  color: #8b8b8b;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
