.profile {
  padding-top: 70px;
}

.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__title {
  margin: 0;
  padding: 0;
  margin-bottom: 110px;
  color: var(--main-text);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.profile__form {
  max-width: 410px;
  width: 100%;
}

.profile__field {
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.profile__field_name {
  border-bottom: 1px solid #424242;
}

.profile__label {
  width: 15%;
  color: var(--main-text);
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
  flex-shrink: 0;
}

.profile__input {
  box-sizing: border-box;
  width: 85%;
  padding: 16px 10px;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: var(--input-text);
  text-align: right;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
}

.profile__input::placeholder {
  color: var(--input-placeholder);
}

.profile__input:focus {
  outline: none;
  background: var(--input-focus-bg);
}

.profile__submit {
  margin-top: 200px;
  width: 100%;
  height: 45px;
  padding: 0;
  cursor: pointer;
  border-radius: 3px;
  background: var(--accent-blue);
  border: none;

  color: var(--main-text);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.profile__edit {
  margin: 200px auto 0;
  display: block;
  border: none;
  border-radius: 8px;
  padding: 8px 20px;
  background-color: transparent;
  cursor: pointer;

  color: var(--main-text);
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  transition: background 0.3s linear;
}

.profile__edit:hover {
  background: #2f2f2f;
}

.profile__exit {
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 8px;
  padding: 8px 20px;
  background-color: transparent;
  cursor: pointer;

  color: var(--accent-red);
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  transition: background 0.3s linear;
}

.profile__exit:hover {
  background: #2f2f2f;
}
