.logo {
  text-decoration: none;
  display: block;
  width: 38px;
  height: 38px;
  transition: scale 0.8s ease;
}

.logo:hover {
  scale: 1.1;
}

.logo__img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
