.nav {
  margin-left: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  text-decoration: none;
  color: var(--main-text);
  font-size: 13px;
  line-height: 18px;
}

.nav__link:not(:last-child) {
  margin-right: 16px;
}
