.search {
  padding-top: 80px;
  padding-bottom: 40px;
}
.search__info {
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  border: none;
  appearance: none;

  display: flex;
  align-items: center;
}

.search__input {
  margin-right: 10px;
  padding-left: 20px;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background: var(--input-bg);

  appearance: none;
  border: none;

  color: var(--input-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.search__input::placeholder {
  color: var(--input-placeholder);
}

.search__input:focus {
  outline: none;
  background: var(--input-focus-bg);
}

.search__submit {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  appearance: none;

  width: 44px;
  height: 44px;
  background-image: url('../../images/search-btn.svg');
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  transition: scale 0.8s ease;
}

.search__submit:hover {
  scale: 1.1;
}

@media screen and (max-width: 800px) {
  .search__info {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 431px) {
  .search {
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .search__info {
    padding-bottom: 47px;
  }
  .search__input {
    padding-left: 12px;
    height: 44px;
  }
}
