.search {
  padding-top: 80px;
  padding-bottom: 40px;
}
.search__info {
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  border: none;
  appearance: none;

  display: flex;
  align-items: center;
}

.search__input {
  margin-right: 10px;
  padding-left: 20px;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background: #2f2f2f;

  appearance: none;
  border: none;

  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.search__submit {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  appearance: none;

  width: 44px;
  height: 44px;
  background-image: url('../../images/search-btn.svg');
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
