.portfolio {
  padding-bottom: 125px;
}
.portfolio__title {
  margin: 0;
  color: #8b8b8b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.portfolio__list {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  list-style: none;
}

.portfolio__item:not(:first-child) {
  margin-top: 20px;
}

.portfolio__item::after {
  margin-top: 19px;
  content: '';
  display: block;
  height: 1px;
  background-color: #424242;
}

.portfolio__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--main-text);
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
}
