.preloader {
  display: grid;
  place-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(0, 255, 153, 0) 0deg,
    var(--accent-green) 360deg
  );
  animation: spin 2s infinite linear;
}
.preloader::before {
  content: '';
  border-radius: 50%;
  width: 80%;
  height: 80%;
  background-color: var(--main-bg);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
