.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0 18px;
}

.header__profile {
  padding: 8px 20px;
  text-decoration: none;
  color: var(--main-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  border-radius: 20px;
  background: #313131;
}

.header__auth {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__signup {
  margin-right: 30px;
  text-decoration: none;
  color: var(--main-text);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.header__signin {
  display: block;
  padding: 8px 20px;
  color: #000;
  text-decoration: none;
  font-size: 12px;

  font-weight: 500;
  line-height: 16px;
  border-radius: 3px;
  background-color: var(--accent-green);
}
