.header {
  padding: 18px 0 18px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  gap: 16px;
}

.header__auth {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__signup {
  margin-right: 30px;
  text-decoration: none;
  color: var(--main-text);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.header__signin {
  display: block;
  padding: 8px 20px;
  color: #000;
  text-decoration: none;
  font-size: 12px;

  font-weight: 500;
  line-height: 16px;
  border-radius: 3px;
  background-color: var(--accent-green);
}

.header__burger {
  z-index: 100;
  display: none;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 38px;
  height: 38px;
  transition: background-image 0.4s ease-in;
}
.header__burger_closed {
  background-image: url('../../images/burger-btn.svg');
}
.header__burger_opened {
  background-image: url('../../images/close-btn.svg');
  margin-right: 4px;
}

@media screen and (max-width: 800px) {
  .header__container {
    padding: 0 30px;
  }

  .header__nav {
    display: none !important;
  }

  .header__account {
    display: none;
  }
  .header__burger {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .header__container {
    padding: 0 14px;
  }
  .header__signup {
    margin-right: 15px;
    font-size: 10px;
  }
  .header__signin {
    font-size: 10px;
    padding: 4px 12px;
  }
}
