.header {
  padding: 18px 0 18px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__profile {
  padding: 8px 20px;
  text-decoration: none;
  color: var(--main-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  border-radius: 20px;
  background: #313131;
}

.header__auth {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__signup {
  margin-right: 30px;
  text-decoration: none;
  color: var(--main-text);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.header__signin {
  display: block;
  padding: 8px 20px;
  color: #000;
  text-decoration: none;
  font-size: 12px;

  font-weight: 500;
  line-height: 16px;
  border-radius: 3px;
  background-color: var(--accent-green);
}

.header__burger {
  z-index: 100;
  display: none;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 38px;
  height: 38px;
  transition: background-image 0.4s ease-in;
}
.header__burger_closed {
  background-image: url('../../images/burger-btn.svg');
}
.header__burger_opened {
  background-image: url('../../images/close-btn.svg');
}

.header__menu {
  display: none;
}

@media screen and (max-width: 800px) {
  .header__container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 770px) {
  .header__profile {
    display: none;
  }
  .header__burger {
    display: block;
  }

  .header__menu {
    padding-top: 160px;
    padding-bottom: 90px;
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: var(--main-bg);
    overflow-x: hidden;
    transition: 0.5s;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .header__menu_opened {
    width: 68%;
  }

  .header__menu_closed {
    width: 0;
  }

  .header__link {
    padding-bottom: 4px;
    display: block;
    text-decoration: none;
    color: var(--main-text);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
  .header__link_active {
    border-bottom: 2px solid #fff;
  }

  .header__profile-link {
    margin-top: 594px;
    padding: 8px 20px;
    text-decoration: none;
    color: var(--main-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

    border-radius: 20px;
    background: #313131;
  }
}

@media screen and (max-width: 480px) {
  .header__container {
    padding: 0 14px;
  }
  .header__signup {
    margin-right: 15px;
    font-size: 10px;
  }
  .header__signin {
    font-size: 10px;
    padding: 4px 12px;
  }
}
