.checkbox {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox__toggle {
  margin-right: 12px;
  position: relative;
  box-sizing: border-box;
}
.checkbox__input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.checkbox__lable {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.checkbox__lable:before {
  content: '';
  width: 34px;
  height: 14px;
  background: #ebebeb;
  position: relative;
  display: inline-block;
  border-radius: 20px;
  box-sizing: border-box;
  transition: 0.3s ease-in;
}
.checkbox__lable:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 2px;
  top: 2px;
  z-index: 2;
  background: #f5f5f5;
  box-sizing: border-box;
  transition: 0.3s ease-in;
}
.checkbox__input:checked + .checkbox__lable:before {
  background: #4bd865;
}
.checkbox__input:checked + .checkbox__lable:after {
  left: 22px;
  background: #fff;
}

.checkbox__title {
  color: var(--main-text);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
