.navtab {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navtab__link {
  width: 96px;
  height: 36px;
  border-radius: 10px;
  background: #303030;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--main-text);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
}

.navtab__link:not(:last-child) {
  margin-right: 10px;
}
